venv/
db.sqlite3
__pycache__
*.pyc
.DS_Store
project/db.sqlite3
/static
project/app/templates/templates_for_future
project/app/templates/templates_for_future/login.html
project/app/templates/registration/password_change_done.html
project/app/templates/registration/password_change_form.html
project/app/templates/registration/password_reset_complete.html
project/app/templates/registration/password_reset_confirm.html
project/app/templates/registration/password_reset_done.html
project/app/templates/registration/password_reset_email.html
project/app/templates/registration/password_reset_form.html
project/app/templates/registration/login.html
project/app/templates/register_done.html
project/app/templates/registration/logged_out.html
project/app/templates/register.html
project/project/email_host_password.txt
project/project/email_host_user.txt
project/app/forms1.py
project/app/urls1.py
project/app/templates/base1.html
project/project/settings1.py
project/project/urls1py.py
