body {
    font-family: 'Lato';
    padding: 2rem 5rem;
}

.content {
    text-align: center;
}

#header {
    margin-bottom:40px;
    font-weight:bold;
    width: 100%;
    height: 100%;
}

#sidebar {
    width: 300px;
    float: left;
}

#video {
    float: right;
    width: auto;
    display: inline-block;
}


#film {
    border: 2px outset #2235c1;
}

#id_total_pages, #id_current_page, #id_title {
    padding:10px 10px;
    font-size:15px;
    float:left;
    outline-color:#fff;
}

#id_title{
    width:600px;
    border-color: #9d56bf;
}

#id_current_page {
    width:200px;
    border-color:#f4618b;
}

#id_total_pages{
    width:200px;
    border-color:#ce92b9;
}

.button, .button_add_book {
    color:#fff;
    outline-color:#bf56ab;
    padding:10px 10px;
    font-size:15px;
    text-transform:uppercase;
    cursor: pointer;
    margin: 10px 0px;
    width:250px;
}

.button_add_book {
    background:#5959D1;
}

.button {
    background:#AF5FA2;
}


#chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar-chart {
    width: 1200;
    height: 800;
}

#id_first_name, #id_email, #id_password2, #id_password, #id_password1, #id_username {
    padding:10px 10px;
    font-size:15px;
    width:300px;
    border-color: #9d56bf;
    outline-color:#fff;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* href styling */
a {
    color: #5841A3;
    font-size:18px;
}

/* styling for NAME in: Hello NAME, Logout */
b {
    color: #5959D1;
    font-size:18px;
}
