body {
    font-family: 'Lato';
    padding: 2rem 5rem;
}
.content {
    text-align: center;
}


#header {
    margin-bottom:40px;
    font-weight:bold;
}

#id_title {
    padding:10px 10px;
    font-size:15px;
    width:600px;
    float:left;
    border-color: #9d56bf;
    outline-color:#fff;
}

#id_current_page {
    padding:10px 10px;
    font-size:15px;
    width:200px;
    float:left;
    border-color:#f4618b;
    outline-color:#fff;
}

#id_total_pages {
    padding:10px 10px;
    font-size:15px;
    width:200px;
    float:left;
    border-color:#ce92b9;
    outline-color:#fff;
}

.button {
    background:#a142af;
    color:#fff;
    outline-color:#bf56ab;
    padding:10px 10px;
    font-size:15px;
    text-transform:uppercase;
    cursor: pointer;
    margin: 10px 0px;
    width:250px;
}


#chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar-chart {
    width: 1200;
    height: 800;
}

#id_username  {
    padding:10px 10px;
    font-size:15px;
    width:300px;
    border-color: #9d56bf;
    outline-color:#fff;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#id_password, #id_password1 {
    padding:10px 10px;
    font-size:15px;
    width:300px;
    border-color: #9d56bf;
    outline-color:#fff;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a {
    color: #9d56bf;
    text-decoration: none;
    background-color: transparent;
}
#id_username  {
    padding:10px 10px;
    font-size:15px;
    width:300px;
    border-color: #9d56bf;
    outline-color:#fff;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#id_first_name, #id_email, #id_password2 {
    padding:10px 10px;
    font-size:15px;
    width:300px;
    border-color: #f4618b;
    outline-color:#fff;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

ul {
    list-style: none;
}
