{% extends "base.html" %}

{% block login%}
    <h3>Login to account</h3>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again.</p>
    {% endif %}
        <div id="inputbox">
            <form action="{% url 'login' %}" method="post">
                <div class="field">
                    {{ form.as_p }}
                    {% csrf_token %}
                        <input type="submit" id="button" class="button button_login"
                        value="Sign in">
                </div>
            </form>
        </div>

{% endblock %}
