{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="instruction">
        <h1>Forgotten your password?</h1>
        <p>Enter your e-mail address and choose a new password. You will receive an e-mail with a link to continue the procedure.</p>
    </div>
    <form method="POST" action=".">
        {{ form.as_p }}
        <input type="submit" class="button" value="Send email">
        {% csrf_token %}
    </form>
{% endblock %}
{% block file %}
    <h6>Interested in what is inside?</h6>
    <video id="film" controls loop muted autoplay width='100%'>
        <source src="{% static 'tracker.mov' type='video/mov' %}">
    </video>
    <script>
        var v = document.getElementById("film");
        v.playbackRate = 2.0;
    </script>
{% endblock %}
