{% extends "base.html" %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly:</p>
        <form method="POST" action=".">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="button" value="Change my password">
        </form>
    {% else %}
        <p>The password reset link is no longer valid. Please request a new password reset again.</p>
    {% endif %}
{% endblock %}
