{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Change you password</h1>
    <p>Use the form below to change your password.</p>
    <form method="POST" action=".">
        {{ form.as_p }}
        <input type="submit" class="button" value="Change">
        {% csrf_token %}
    </form>
{% endblock %}
{% block file %}
    <h6>Interested in what is inside?</h6>
    <video id="film" controls loop muted autoplay width='740' height= '450'>
        <source src="{% static 'tracker.mov' type='video/mov' %}">
    </video>
    <script>
        var v = document.getElementById("film");
        v.playbackRate = 2.0;
    </script>
{% endblock %}
