{% extends 'base.html' %}

{% block form_action %}
/lists/new
{% endblock %}

{% block login %}
<h3>Login to account</h3>
<div id="inputbox">
    <form method="POST" action="{% block form_action %} {% endblock %}">
        {% csrf_token %}
            <input name="username" id="id_username"
                class="form-control" placeholder="Username" />
            <input name="password" id="id_password"
                class="form-control" placeholder="Password" />
            <input type="submit" id="button" class="button button_login"
                value="Sign in">
    </form>
</div>
{% endblock %}
