<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Reading tracker</title>
        <h1>Your books reading progress</h1>
    </head>
    <body>
        <h3>Please type a book’s title that you’d like to track,
            page number where you’re currently on
            and total page numbers of the book.</h3>
        <form method="POST" action="/lists/{{ list_of_books.id}}/add_book">
            {% csrf_token %}
            <input name="title" id="id_new_book" placeholder="Book's title" />
            <input name="current_page" id="id_current_page" placeholder="Current page" />
            <input name="total_pages" id="id_total_pages" placeholder="Total pages in a book" />
            <input type="submit" class="button button_main" value="Add to your book list">
        </form>
        <table id="id_book_table">
            {% for book in list_of_books.book_set.all %}
                <tr><td>{{ book.title }}</td><td>{{ book.current_page }}</td><td>{{ book.total_pages }}</td></tr>
            {% endfor %}
        </table>
        <div id="container" style="width: 75%;">
          <canvas id="bar-chart" width="800" height="450"></canvas>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

      <script>
        new Chart(document.getElementById("bar-chart"), {
          type: 'horizontalBar',
          data: {
            labels: {{ labels|safe }},
            datasets: [{
                data: {{ data|safe }},
                label: "in percentage",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              }]
          },
          options: {
              legend: { display: false},
              title: { display: true, text: 'Your progress of reading the books'},
              scales: {
                  xAxes: [{
                      ticks: {
                          beginAtZero:true,
                          min: 0,
                          max: 100,
                          stepSize: 5,
                      }
                  }]
              }
          }
      });
      </script>
    </body>
</html>
